
.flexslider {
	background-image: url(../img/contact/main.jpg);
}

article > div {
	margin: auto;
	width: 70%;
	min-width: 500px;
	height: 600px;
	overflow-y: scroll;
}

article img {
	margin-top: -20px;
	height: 10px;
	width: 30px;
}

.top {
	margin: 20px 0px;
	position: relative;
	background-color: #FFF;
	width: 100%;
	height: 75px;
	text-align: center;
}

article h2 {
	font-size: 25px;
	margin-top: 15px;
	border: none;
}

.bottom {
	overflow: hidden;
	margin-top: -16px;
	height: auto;
	background-color: #FFF;
}

article div p {
	color: #666;
	line-height: 30px;
	padding: 0px 0px 0px 15%;
}

article div a {
	color: #666;
}

article div a:hover {
	color: #ffa270;
}

@media only screen and (max-width: 600px) {
	article > div {
		width: 100%;
		min-width: 0px;
		height: auto;
	}
	
	.top {
		height: 55px;
	}

	article h2 {
		font-size: 4.5vw;
	}

	article div p {
		padding: 0px 0px 0px 10%;
		font-size: 14px;
	}
}