
.slider{
	margin-top: -50px;
}

.slider h2 {
	margin: 80px 100px 0px 100px;
	border-bottom: 1px solid #CCC;
}

.slider > div {
	margin: auto;
	width: 85%;
	padding: 15px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
}

.slider img {
	width: 100%;
	margin: -1px;
	border: 1px solid #CCC;
}

.grid-block-container {
	width: 180px;
	height: 250px;
}

.grid-block {
	position: relative;
	width: 180px;
	height: 250px;
	border: 1px solid #ddd;
}

.caption {
	display: none;
	position: absolute;
	background-color: #FFF;
	border-bottom: 1px solid #ddd;
	width: 100%;
	height: 32px;
}

.caption h3 {
	font-weight: 100;
	font-size: 16px;
	color: #ff9c00;
	text-align: center;
	margin-top: 8px;
}
