
.slider {
	margin-top: -50px;
}

.slider h2 {
	margin: 80px 100px 0px 100px;
	border-bottom: 1px solid #CCC;
}

.slider > div {
	margin: auto;
	width: 85%;
	padding: 15px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
}

.slider div div, .slider img, .slider h4 {
	width: 14vw;
	min-width: 120px;
	max-width: 200px;
}

.slider img {
	border: 1px solid #CCC;
}

.slider h4 {
	display: none;
	position: absolute;
	margin: 1px;
	padding: 8px 0px;
	background-color: #FFF;
	border-bottom: 1px solid #ddd;
	font-weight: 100;
	font-size: 16px;
	text-align: center;
}