
.slider {
	margin-top: -50px;
}

.slider h2 {
	margin: 60px 15% 0px 15%;
	border-bottom: 1px solid #CCC;
}

.slider > div {
	margin: auto;
	width: 85%;
	padding: 15px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
}

.slider div div, .slider img, .slider h4 {
	width: 14vw;
	max-width: 200px;
}

.slider img {
	border: 1px solid #CCC;
}

.slider h4 {
	display: none;
	position: absolute;
	margin: 1px;
	padding: 8px 0px;
	background-color: #FFF;
	border-bottom: 1px solid #ddd;
	font-weight: 100;
	font-size: 16px;
	text-align: center;
}

@media only screen and (max-width: 600px) {
	.slider h2 {
		margin: 30px 10% 0px 10%;
	}

	.slider div div, .slider img, .slider h4 {
		width: 18vw;
	}

	.slider h4 {
		font-size: 12px;
		padding: 5px 0px;
	}
}