
article div {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

article div div {
	width: 980px;
	/*border: 1px solid #CCC;*/
}

article img {
	width: 980px;
	height: 767px;
}