
article > div {
	height: 1000px;
	width: 75%;
	margin: auto;
	overflow-y: scroll;
	border: 1px solid #CCC;
	padding-top: 40px;
	padding-left: 40px;
	color: #666;
}

article a {
	text-decoration: underline;
	color: #666;
}

article a:hover {
	color: #ff9c00;
}

span {
	margin: 15px 0px 0px -12px;
	color: #ff9c00;
	font-weight: 100;
	font-size: 18px;
}

b {
	margin-left: -5px;
	color: #666;
}

h6 {
	font-size: 14px;
	font-weight: 500;
	color: #CCC;
}