
#map {
	width: 100%;
	height: 100%;
}

article > div {
	height: 1000px;
	width: 75%;
	margin: auto;
	overflow-y: scroll;
	border: 1px solid #CCC;
	padding: 40px 10px 0px 40px; 
	color: #666;
}

article a {
	text-decoration: underline;
	color: #666;
}

article a:hover {
	color: #ff9c00;
}

span {
	margin: 15px 0px 0px -12px;
	color: #ff9c00;
	font-weight: 100;
	font-size: 18px;
}

b {
	margin-left: -5px;
	color: #666;
}

h6 {
	font-size: 14px;
	font-weight: 500;
	color: #CCC;
}

@media only screen and (max-width: 600px) {
	article > div {
		height: auto;
		width: 80%;
		padding-left: 30px;
	}

	h6 {
		font-size: 12px;
	}
}

/* map */

.map-title {
	text-align: center;
	color: #ff9c00;
	font-weight: 100;
	font-size: 16px;
}

.map-body {
	font-size: 14px;
	line-height: 25px;
	color: #666;
}

@media only screen and (max-width: 600px) {
	.map-title {
		text-align: left;
		font-size: 12px;
	}

	.map-body {
		font-size: 12px;
		line-height: 14px;
	}
}