
html {
	background-image: url(../images/OTBackground.jpg);
	background-size: 40px;
}

body {
	margin: 0;
	font-weight: 300;
	font-family: sans-serif;
}

main, body > header {
	margin: auto;
	width: 70%;
	min-width: 800px;
	max-width: 1200px;
}

main {
	border: 1px solid #CCC;
	background-color:#FFF;
}

body > header {
	height: 180px;
}

body > header img {
	height: 100%;
}

/* header */

header {
	height: 40px;
	width: 100%;
}

header div {
	float: right;
	width: 20%;
	height: 40px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

header div img {
	margin-right: 10px;
	height: 22px;
}

#links {
	float:left;
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

#links a {
	width: 100px;
	text-align: center;
	font-weight: 300;
	font-size: 17px;
	text-decoration: none;
}

#links a:hover {
	font-weight: 500;
}

#links a.selected {
	font-weight: 500;
}

/* slider */

.flexslider, .flexslider li {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 380px;
	width: 100%;
}

.flexslider {
	overflow: hidden;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}

/* article */

article {
	
}

article h1, h2, h3 {
	padding-top: 20px;
	margin: auto;
	border-bottom: 1px solid #CCC;
	height: 60px;
	color: #ff9c00;
	text-align: center;
	font-weight: 100;
}

article h1 {
	font-size: 40px;
}

article h2 {
	font-size: 30px;
}

article h3 {
	font-size: 18px;
	margin: 50px auto;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	height: 40px;
	width: 60%;
	min-width: 550px;
}

article > a {
	text-decoration: none;
}

article > p {
	margin: 50px auto;
	width: 65%;
	line-height: 24px;
	text-align: justify;
	padding: 0px 25px;
	color: #666;
	border-left: 1px solid #ffa270;
	border-right: 1px solid #ffa270;
	font-weight: 200;
	font-size: 17px;
}

a {
	color: #ff9c00;
}

a:hover {
	color: #ffa270;
}

/* footer */

footer {
	margin-top: 50px;
	color: #ff9c00;
	text-align: center;
}

footer p {
	margin-top: 10px;
	font-size: 12px;
	line-height: 22px;
}

footer a {
	text-decoration: underline;
}

/*creation*/

body > div {
	border-top: 1px solid #CCC;
	margin-top: 50px;
	width: 100%;
	height: 40px;
	background-color: #FFF;
	text-decoration: off;
}

body > div p {
	margin: 13px 0px 0px 5%;
	float: left;
	font-size: 14px;
	color: #666;
}