html{
	height:100%;
	width:100%;
	margin:0;
}
body{
	height:100%;
	width:100%;
	font-family:sans-serif;
	margin: 0;
}
/*Menubar*/
#Menubar{
	position:relative;
	height:120px;
	width:100%;
	min-width:500px;
	top:1;
	left:1;
	background-color:#FFF;
	border-bottom:1px solid #666;
}
#Menubar_Image{
	margin-top:15px;
	height:110px;
	display:inline;
}
#Menubar_Button{
	margin:40px 0px 0px 40px;
	height:45px;
	float:left;
	display:inline;
}
#Menubar_Slidedown{
	margin:-4px 0px 0px 0px;
	height:500px;
	width:100%;
	background-color:#CCC;
	border-bottom:1px solid #666;
}
#facebook{
	float:right;
	margin:10px 20px 0px 10px;
	height:45px;
}
#share{
	float:right;
	margin:63px -55px 0px 10px;
	height:45px;
	position:relative;
}
/*End Menubar*/
/*Slider*/
#menubar_links2{
	margin-top:8px;
	margin-left:-35px;
	float:left;
	list-style:none;
}
.menuBar{
	margin:50px 0px 0px 50px;
	float:left;
	width:100%;
	height:32px;
	font-weight:500;
	font-size:40px;
	opacity:1;
}
#mnu{
	margin-top:7px;
	color:#FFF;
}
.menuBar_selected{
	margin:50px 0px 0px 50px;
	float:left;
	width:100%;
	height:32px;
	font-weight:800;
	font-size:40px;
	opacity:1;
}
#textdecoff{
	text-decoration:none;
	color:#FFF;
}
/*End Slider*/
/*Content, Main*/
#content{
	height:auto;
	width:100%;
}
#main_title{
	border-top:1px solid #666;
	border-bottom:1px solid #666;
	background:#FFF;
	height:68px;
	display:block;
}
#main_title_template{
	display:none;
}
#main_text{
	height:auto;
	display:block;
}
#main_titletxt{
	margin-top:8px;
	font-size:42px;
	text-align:center;
	color:#E46B29;
	/*text-shadow:-2px 2px 3px #CCCCCC;*/
	font-weight:100;
}
#main_texttxt{
	line-height:24px;
	text-align:justify;
	padding:0px 15px 0px 15px;
	margin:35px 50px 0px 50px;
	color:#666;
	border-left:1px solid #e46b2a;
	border-right:1px solid #e46b2a;
	font-weight:200;
	font-size:26px;
}
/*End Content, Main*/
/* rotator in-page placement */
div.rotator {
	position:relative;
	height:243px;
	width:100%;
	margin-left:-40px;
	margin-top:-16px;
}
/* rotator css */
	div.rotator ul li {
	float:left;
	position:absolute;
	list-style: none;
}
/* rotator image style */	
	div.rotator ul li img {
	background: #FFF;
}
        div.rotator ul li.show {
	z-index:500;
}
/*rotator end*/
/*Image Hover*/

/*End Image Hover*/
/*Retail*/

/*End Retail*/
/*Contact*/

/*End Contact*/
/* footer */
#creation{
	position:relative;
	display:block;
	margin-top:50px;
	width:100%;
	height:50px;
	background-color:#000;
	float:left;
	text-decoration:off;

}
#inline{
	width:315px;
}
#creationtxt{
	margin:13px 0px 0px 20px;
	color:#FFF;
	float:left;
	display:inline-block;
	font-size:20px;
	font-family:sans-serif;
	font-weight:100;
}
#creation_image{
	margin:8px 0px 0px 0px;
	height:34px;
	float:right;
	display:inline-block;
}
/*footer end*/